__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.streamlit/
*.mp4
output_frames/
edited_frames/
.DS_Store
.venv/
venv/
ENV/
env/
models/
sam_weights/
